<div >
    <table style="width: 700px;">
        <thead>
            <tr>
                <th colspan="8">Administrateur</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width: 10%;">1</td>
                <td style="width: 70%;">{{admin.prenom}} {{admin.name}}</td>
                
                <td style="width: 20%;">
                    <div class="d-flex">
                    <div style="margin-right:20px; margin-left: 10px;">
                        <button class="property-button">
                            <mat-icon class="property-icon">create</mat-icon>
                        </button>
                    </div>
                    <div>
                        <button class="property-button">
                            <mat-icon class="property-icon">highlight_off</mat-icon>
                        </button>
                    </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table> 
    
    
</div>
