.black-border {
    border: 0.5px solid black;
    padding: 10px; /* Ajoutez un remplissage si nécessaire pour l'espace à l'intérieur de la bordure */
    display: inline-flex;
  flex-direction: column; /* ou row selon vos besoins */
  align-items: center; /* centre le contenu horizontalement */
  justify-content: center; /* centre le contenu verticalement */
  }

  .div1 {
    margin-right: 20px; /* Ajoutez la marge fixe souhaitée ici */
  }

  .centered {
    text-align: center;
  }

  table {
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.table-rounded {
  border-radius: 50px; 
  width: 400px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.rounded {
  border-radius:  200px 200px 0 0 ;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
  
}

.text-bouton {
font-size: 16px;
}

.icon {
  font-size: 29px;
  font-weight: bold;
  color: green;
  size: 35px;
}

